.newProduct{
    flex: 4;
    margin-left: 10px;
}

.addProductForm{
    margin-top: 10px;
    display: flex;
}

.formLeft{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.formRight{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.addProductItem{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-bottom: 10px;
    width: 80%;
}

.addProductItem > label{
    color: gray;
    font-weight: 600;
    margin-bottom: 10px;
}

.addProductItem > input, textarea{
    padding: 10px;
    width: 100%
}

textarea{
    height: 150px;
}

.addProductItem > select{
    padding: 10px;
}

.addProductButton {
    margin-top: 25px;
    padding: 15px 35px;
    border: none;
    border-radius: 10px;
    background-color: darkblue;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.uploadProgress{
    font-size: 14px;
    color: red;
    margin-left: 10px;
}

.uploadSuccesMessage{
    font-size: 16px;
    color: green;
    margin-left: 20px;
}

.imagePreviewContainer{
    display: flex;
    align-items: center;
}

.imagePreview{
    width: 100px;
    height: 100px;
    object-fit: cover;
}