.sidebar{
    flex: 1;
    height: calc(100vh - 50px); /*if just 100vh, it will overflow, since the topbar is 50px thats why I use calc() to do 100vh minus the 50px from the topbar  */
    background-color: rgb(251, 251, 255);
    position: sticky;
    top: 50px; /* 50 because it needs to start under the topbar */
}

.sidebarWrapper{
    padding: 20px;
    color: #555;
}

.sidebarMenu{
    margin-bottom: 10px;
}

.sidebarTitle{
    font-size: 13px;
    color: rgb(187, 186, 186);
}

.sidebarList{
    list-style: none;
    padding: 5px;
}

.sidebarListItem{
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.sidebarListItem.active, 
.sidebarListItem:hover{
    background-color: rgb(228, 228, 250)
}

.sidebarIcon{
    margin-right: 5px;
    font-size: 20px;
}